{
  "openapi": "3.0.0",
  "info": {
    "title": "Lexus Tracker Backend API",
    "description": "API for tracking Lexus vehicle statistics from RDW (Dutch Vehicle Authority) data",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@astrode.dev"
    }
  },
  "servers": [
    {
      "url": "https://lexusapi.karstalens.nl",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Statistics",
      "description": "Vehicle statistics and data endpoints"
    }
  ],
  "paths": {
    "/api/stats/daily-count": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get daily vehicle counts",
        "description": "Retrieves daily count statistics for vehicles in the database",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyCount"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/monthly-count": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get monthly vehicle counts",
        "description": "Retrieves monthly count statistics for vehicles in the database",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonthlyCount"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/rdw-data": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get RDW vehicle data",
        "description": "Retrieves vehicle data from RDW with optional search and sorting",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search term for filtering vehicles (kenteken, merk, handelsbenaming, kleur, inrichting)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string",
              "default": "kenteken"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order (asc or desc)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "Caching policy",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity tag for caching",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RdwEntry"
                      }
                    },
                    "lastUpdated": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/rdw-data/{kenteken}": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get specific vehicle by license plate",
        "description": "Retrieves detailed vehicle information by license plate (kenteken)",
        "parameters": [
          {
            "name": "kenteken",
            "in": "path",
            "description": "License plate number (kenteken)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "Caching policy",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RdwEntry"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/rdw-stats": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get RDW statistics",
        "description": "Retrieves aggregated statistics about vehicles in the database",
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "Caching policy",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "colorDistribution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "yearDistribution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "bodyTypeDistribution": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/stats/daily-differences": {
      "get": {
        "tags": ["Statistics"],
        "summary": "Get daily differences",
        "description": "Retrieves daily changes in vehicle data (added/removed vehicles)",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Specific date to get differences for (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Cache-Control": {
                "description": "Caching policy",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DailyDifference"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DailyCount": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "description": "Date in YYYY-MM-DD format"
          },
          "count": {
            "type": "integer",
            "description": "Number of vehicles for this date"
          }
        },
        "required": ["date", "count"]
      },
      "MonthlyCount": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "month": {
            "type": "string",
            "description": "Month in YYYY-MM format"
          },
          "count": {
            "type": "integer",
            "description": "Number of vehicles for this month"
          }
        },
        "required": ["month", "count"]
      },
      "RdwEntry": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "kenteken": {
            "type": "string",
            "description": "License plate number"
          },
          "voertuigsoort": {
            "type": "string",
            "description": "Vehicle type"
          },
          "merk": {
            "type": "string",
            "description": "Brand"
          },
          "handelsbenaming": {
            "type": "string",
            "description": "Commercial name/model"
          },
          "vervaldatum_apk": {
            "type": "string",
            "description": "APK expiration date"
          },
          "datum_tenaamstelling": {
            "type": "string",
            "description": "Registration date"
          },
          "bruto_bpm": {
            "type": "string",
            "description": "Gross BPM tax"
          },
          "inrichting": {
            "type": "string",
            "description": "Body type"
          },
          "aantal_zitplaatsen": {
            "type": "string",
            "description": "Number of seats"
          },
          "eerste_kleur": {
            "type": "string",
            "description": "Primary color"
          },
          "tweede_kleur": {
            "type": "string",
            "description": "Secondary color"
          },
          "aantal_cilinders": {
            "type": "string",
            "description": "Number of cylinders"
          },
          "cilinderinhoud": {
            "type": "string",
            "description": "Engine displacement"
          },
          "massa_ledig_voertuig": {
            "type": "string",
            "description": "Empty vehicle mass"
          },
          "toegestane_maximum_massa_voertuig": {
            "type": "string",
            "description": "Maximum allowed vehicle mass"
          },
          "massa_rijklaar": {
            "type": "string",
            "description": "Ready-to-drive mass"
          },
          "datum_eerste_toelating": {
            "type": "string",
            "description": "Date of first registration"
          },
          "datum_eerste_tenaamstelling_in_nederland": {
            "type": "string",
            "description": "Date of first registration in Netherlands"
          },
          "wacht_op_keuren": {
            "type": "string",
            "description": "Awaiting inspection"
          },
          "catalogusprijs": {
            "type": "string",
            "description": "Catalog price"
          },
          "wam_verzekerd": {
            "type": "string",
            "description": "WAM insured"
          },
          "aantal_deuren": {
            "type": "string",
            "description": "Number of doors"
          },
          "aantal_wielen": {
            "type": "string",
            "description": "Number of wheels"
          },
          "lengte": {
            "type": "string",
            "description": "Length"
          },
          "europese_voertuigcategorie": {
            "type": "string",
            "description": "European vehicle category"
          },
          "plaats_chassisnummer": {
            "type": "string",
            "description": "Chassis number location"
          },
          "technische_max_massa_voertuig": {
            "type": "string",
            "description": "Technical maximum vehicle mass"
          },
          "type": {
            "type": "string",
            "description": "Type"
          },
          "typegoedkeuringsnummer": {
            "type": "string",
            "description": "Type approval number"
          },
          "variant": {
            "type": "string",
            "description": "Variant"
          },
          "uitvoering": {
            "type": "string",
            "description": "Version"
          },
          "volgnummer_wijziging_eu_typegoedkeuring": {
            "type": "string",
            "description": "EU type approval modification sequence number"
          },
          "vermogen_massarijklaar": {
            "type": "string",
            "description": "Power-to-weight ratio"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["kenteken"]
      },
      "DailyDifference": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date in YYYY-MM-DD format"
          },
          "changes": {
            "type": "object",
            "properties": {
              "added": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "License plates added on this date"
              },
              "removed": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "License plates removed on this date"
              }
            }
          },
          "totalChanges": {
            "type": "integer",
            "description": "Total number of changes for this date"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["date", "totalChanges"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": ["error"]
      }
    }
  }
}
